<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <div class="tile-container">
                <div class="tile-large">
                    <div ng-controller="TimeController">
                        <h1>{{ clock | date:'d MMMM yyyy H:mm'}}</h1>
                    </div>
                    <br/>
                    <div ng-controller="WeatherCtrl">
                        <h4>Weather in Salzburg, Austria</h4>
                        <weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
                        <h5>Current: {{ weather.temp.current | temp:2 }}</h5>min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}</div>
                </div>
                <div class="tile-square">
                    <h1>23&deg;</h1>
                    <h4>Studiekamer</h4>
                </div>
                <div class="tile-large">
                    <h1>21&deg;</h1>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->