<h1>Dashboard</h1>

<div class="tile-container">

    <div class="tile-large" data-role="tile">
        <h1>21 &deg;</h1>
    </div>

    <div class="tile-square" data-role="tile">
        <h1>23 &deg;</h1>
        <h4>Woonkamer</h4>
    </div>

    <div class="tile-square" data-role="tile">
        <h1>23 &deg;</h1>
        <h4>Studiekamer</h4>
    </div>
    <div class="tile-square" data-role="tile">
        <h1>23 &deg;</h1>
        <h4>Studiekamer</h4>
    </div>
    <div class="tile-square" data-role="tile">
        <h1>23 &deg;</h1>
        <h4>Studiekamer</h4>
    </div>
</div>