    .bookmarks {
        display: -webkit-inline-flex;

        .bookmark {
            background-color: white;
            width: 300px;
            margin: 10px;
            padding: 0 0 10px 0;

            h2 {
                color: white;
                padding: 0 10px 0 10px;
                margin: 0 0 10px 0;
                background-color: #007acc;
            }
        }
    }

.tile-container {   
    h1 {
        color: white;
    }
    
    .tile
    {
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        float: left;
        color: white;
        background-color: #2C3E50 !important;
    }
       
    .tile-large {  
        height: 305px;
        width: 305px;
        .tile;
    }
    
    .tile-square {
        height: 150px;
        width: 150px;
        .tile;
    }
    
    .tile-square-y {
        height: 150px;
        width: 305px;     
        .tile;
    }
}


