
body {

    .bookmarks {
        display: -webkit-inline-flex;

        .bookmark {
            background-color: white;
            width: 300px;
            margin: 10px;
            padding: 0 0 10px 0;

            h2 {
                color: white;
                padding: 0 10px 0 10px;
                margin: 0 0 10px 0;
                background-color: #007acc;
            }
        }
    }
}

.tile-container {   
    h1 {
        color: #2C3E50;
    } 
    
    .tile-square, .tile-large {
        background-color: #2C3E50 !important;
        color: white;
    
        h1 {
            color: white;
        }
    }
    
    
    .tile-large {
        margin: 10px;
        float: left;
        height: 300px;
        width: 300px;
        background-color: #2C3E50 !important;
        color: white;
    }
    
    .tile-square {
        margin: 10px;
        float: left;
        height: 150px;
        width: 150px;
        background-color: #2C3E50 !important;
        color: white;
    }
    
    tile-square-y {
        margin: 10px;
        float: left;
        height: 150px;
        width: 300px;
        background-color: #2C3E50 !important;
        color: white;
    }
}


